<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193303184404-1uf97rt29nbkh57qbd5e9eljdc1vb2d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193303184404-1uf97rt29nbkh57qbd5e9eljdc1vb2d5</string>
	<key>API_KEY</key>
	<string>AIzaSyAGd5SUTYe2HbxKbhfEhKKbIoTz6eLnGlc</string>
	<key>GCM_SENDER_ID</key>
	<string>193303184404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.virgolaminatesnew</string>
	<key>PROJECT_ID</key>
	<string>virgo-factory</string>
	<key>STORAGE_BUCKET</key>
	<string>virgo-factory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193303184404:ios:436754672ec85d7d365301</string>
</dict>
</plist>